.root{
    display: flex;
    height: 100vh;
}

div.superheroes {
    background-color: #00A3DB;
    display: flex;
    flex-basis: auto;
}

div.villains {
    background-color: #8E0600;
}

div.card.superheroes {
    background-color: #6EEF3B;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.card-text {
    display: flex;
    flex-flow: row wrap;
}

div.card-title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.load-more {
    transition-duration: 0.4s;
    border: 2px solid #282829;
    background-color: white;
    border-radius: 12px;
    padding: 12px 18px;
}

.load-more:hover {
    background-color: #282829; /* Green */
    color: white;
  }


.homepage {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.homepage:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.left-half {
    position: relative;
    text-align: center;
  }

.superhero-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-half {
    position: relative;
    text-align: center;
  }

  .villain-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}